nav {
  flex: 0 1 auto;
  background-color: $BACKGROUNDS;

  .label-icon {
    top: -12px !important;

    &.active i {
      color: $BACKGROUNDS !important;
    }
  }

  #search {
    padding-left: 24px;
    width: 100%;
    color: rgba(255, 255, 255, 1);

    &:focus {
      color: $BACKGROUNDS;
    }
    &:not(&:focus) ~ .label-icon i {
      color: rgba(255, 255, 255, 1);
    }
  }
}

