.loadable {
  &::before, &::after {
    opacity: 0;
    transition: opacity 0.3s linear;
    pointer-events: none;
  }
  &.loading {
    &::before, &::after {
      opacity: 1;
    }
  }
}

.loadable::before {
  content: "";
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background: $PLACEHOLDER_COLOR;
  border-radius: 3px;
}

.loadable::after {
  content: " ";
  position: absolute;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  -webkit-animation: phAnimation 0.8s linear infinite;
  animation: phAnimation 0.8s linear infinite;
  background: linear-gradient(to left, rgba(255, 255, 255, 0) 46%,rgba(255, 255, 255, 0.35) 50%, rgba(255, 255, 255, 0) 54%) 50% 50%;
}

@keyframes phAnimation {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(50%);
  }
}
