$BACKGROUNDS: #43a047;
$PLACEHOLDER_COLOR: #ced4da;

// import after setting $ph-* vars!
@import "./placeholder-loading";

@import "./nav";

html,
body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

.root {
  display: flex;
  flex-flow: column;
  height: 100%;
}

nav {
  flex: 0 1 auto;
  background-color: $BACKGROUNDS;
}

.root .row.content {
  flex: 1 1 auto;
  width: 100%
}

#map {
  width: 100%;
  height: 100%;
}
